<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<integer>1</integer>
	<key>array</key>
	<array>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>这是显示的内容</string>
			<key>array</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
